p {
	color: green;
	/* animation: spin 2s linear infinite; */
}

img {
	height: 50px;
	width: 50px;
}

.red-text {
	color: red;
}

#space-jam-link {
	font-size: 48px;
	color: magenta;
}

.box {
	height: 100px;
	width: 100px;
	background-color: aquamarine;

	padding: 15px;
	border: 5px solid black;
	margin: 30px;
}

@keyframes spin {
    from {
		ransform:rotate(0deg);
	}
    to {
		transform:rotate(360deg);
	}
}