:host {
  padding: 1rem;
  background-color: aqua;
}

.counter {
  border: solid black 1px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  p {
    font-size: 1.5rem;
  }

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;

    /* button {
        border: solid black 1px;
        background-color: white;
        padding: 0.25rem;
        border-radius: 0.5rem;
      } */
  }
}
